@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid page-cover">
    <img class="img-responsive" style="display:inline" src="http://placehold.it/1660x780">
    <div class="cover-text">
        <h1>SKATE STORE</h1>
        <div class="cover-caption">
            <hr class="horizontal-line" />
            <p>PHOTOGRAPHY <br /> WEB DESIGN</p>
        </div>       
    </div>   
</div>
<div class="container-fluid" style="padding-top: 5%; padding-bottom: 5%; height:100%">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 75px;"></div></div>
            </div>              
            <div class="row" style="position: relative">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="middle-text">
                        <img class="img-responsive" style="position: relative; padding-top: 20px;" src="http://placehold.it/370x370">
                        <h2 style="position:absolute; left:30%; bottom: -15%;">OUR <br /> STORY</h2>
                    </div>                  
                </div>                                
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 150px;"></div></div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="position: relative;">
                    <h2 style="position: relative; left: -10%;">TEAM <br /> PLAYER</h2>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 130px;"></div></div>
            </div>      
        </div>
        <div class="col-md-6">
            <h3 style="font-weight: bold; font-style: italic;">Lorem ipsum dolor sit amet!</h3><br />
            <p> Vivamus porttitor viverra dolor eget gravida. Sed tincidunt sem eu diam finibus hendrerit. Sed at erat et tellus sodales ultrices eu ut tellus. Sed vehicula lacinia eros. Nullam vel nisi et dui vestibulum vulputate. Mauris malesuada bibendum lacus, et rutrum nisl placerat vel.</p><br />
            <p> Donec nec rutrum sapien, a eleifend purus. Quisque sed magna eget eros efficitur hendrerit efficitur non felis. </p>
            <ul class="square-list">
                <li>Morbi cursus augue in augue ullamcorper consequat.</li>
                <li>Nam in tortor ut sapien eleifend efficitur.</li>
                <li>Vivamus in ornare nisl, fusce gravida tempus congue.</li>
            </ul><br />
            <q>" In mattis justo ut nibh bibendum, in tristique diam pharetra. Vivamus convallis, ante scelerisque viverra vulputate, ante lorem ullamcorper mi, ut hendrerit turpis lorem et arcu. Aenean mollis dui id nisi vehicula, eu mattis elit pulvinar. "</q>
            <div class="row" style="padding-bottom: 5% !important; padding-top: 5%;">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
            </div>
        </div>       
    </div>  
</div>
<div class="container-fluid">

</div>
<div class="container-fluid" style="position:relative;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h2>OUR CLIENTS</h2>
            <hr class="hrunderline"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="position: relative; left: 10%; margin-bottom: 50px;">
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
    </div>
    <div class="row" style="position: relative">
        <div class="col-md-6"></div>
        <div class="col-md-6"><div class="vrLine" style="height: 75px; position:relative; left: -3%"></div></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center" style="position: relative;">
            <h2 style="position:relative;">ACHIEVEMENT AWARDS</h2>
            <hr class="hrunderline" />
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-5">
            <div class="row" style="padding-bottom: 45px;">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
            </div>
            <div class="row" style="padding-bottom: 45px;">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/100x100"></div>
            </div>
        </div>
        <div class="col-md-3">

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid">

</div>