@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid page-cover">
    <img class="img-responsive" style="display:inline" src="http://placehold.it/1660x780">
    <div class="cover-text">
        <h1>SKATE STORE</h1>
        <div class="cover-caption">
            <hr class="horizontal-line" />
            <p>PHOTOGRAPHY <br /> WEB DESIGN</p>
        </div>       
    </div>   
</div>
<div class="container-fluid" style="padding-top: 5%; padding-bottom: 5%; height:100%">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 75px;"></div></div>
            </div>              
            <div class="row" style="position: relative">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                    <div class="middle-text">
                        <img class="img-responsive" style="position: relative; padding-top: 20px;" src="http://placehold.it/370x370">
                        <h2 style="position:absolute; left:30%; bottom: -15%;">OUR <br /> STORY</h2>
                    </div>                  
                </div>                                
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 150px;"></div></div>
            </div>
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6" style="position: relative;">
                    <h2 style="position: relative; left: -10%;">TEAM <br /> PLAYER</h2>
                </div>
            </div>  
            <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6"><div class="vrLine" style="height: 130px;"></div></div>
            </div>      
        </div>
        <div class="col-md-5">
            <h3 style="font-weight: bold; font-style: italic;">Lorem ipsum dolor sit amet!</h3><br />
            <p> Vivamus porttitor viverra dolor eget gravida. Sed tincidunt sem eu diam finibus hendrerit. Sed at erat et tellus sodales ultrices eu ut tellus. Sed vehicula lacinia eros. Nullam vel nisi et dui vestibulum vulputate. Mauris malesuada bibendum lacus, et rutrum nisl placerat vel.</p><br />
            <p> Donec nec rutrum sapien, a eleifend purus. Quisque sed magna eget eros efficitur hendrerit efficitur non felis. </p>
            <ul class="square-list">
                <li>Morbi cursus augue in augue ullamcorper consequat.</li>
                <li>Nam in tortor ut sapien eleifend efficitur.</li>
                <li>Vivamus in ornare nisl, fusce gravida tempus congue.</li>
            </ul><br />
            <q>" In mattis justo ut nibh bibendum, in tristique diam pharetra. Vivamus convallis, ante scelerisque viverra vulputate, ante lorem ullamcorper mi, ut hendrerit turpis lorem et arcu. Aenean mollis dui id nisi vehicula, eu mattis elit pulvinar. "</q>
            <div class="row" style="padding-bottom: 5% !important; padding-top: 5%;">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
            </div>
            <div class="row">
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
                <div class="col-md-4"><img class="img-responsive" src="http://placehold.it/200x200"></div>
            </div>
        </div>    
        <div class="col-md-1"></div>   
    </div>  
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="http://placehold.it/805x574">
            <img class="img-responsive" src="http://placehold.it/805x574">
        </div>
        <div class="col-md-6">
            <div>
                <h2>WHY CLIENTS LOVE US ?</h2>
                <div class="cover-caption">
                    <hr class="horizontal-line-half" />
                    <p>Suspendisse sit amet egestas eros, ut lobortis orci. Donec sollicitudin congue sem ac vulputate. Vestibulum eu elit lobortis, sagittis felis eu, congue justo. Ut cursus erat arcu, eget laoreet justo egestas ac.</p>
                </div>
                <img class="img-responsive" src="http://placehold.it/805x726">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="position:relative;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
            <h2>OUR CLIENTS</h2>
            <hr class="hrunderline"/>
        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="row" style="position: relative; left: 10%; margin-bottom: 50px;">
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
        <div class="col-md-2"><img class="img-responsive" src="http://placehold.it/194x194"></div>
    </div>
    <div class="row" style="position: relative">
        <div class="col-md-6"></div>
        <div class="col-md-6"><div class="vrLine" style="height: 75px; position:relative; left: -3%"></div></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center" style="position: relative;">
            <h2 style="position:relative;">ACHIEVEMENT AWARDS</h2>
            <hr class="hrunderline" />
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row" style="padding-bottom: 30px;">
        <div class="col-md-2"></div>
        <div class="col-md-5 img-description">
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">DRIBBLE</h5></div>
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">BEHANCE</h5></div>
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">SOUNDCLOUD</h5></div>
            </div>
            <div class="row" style="padding-bottom: 30px;">
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">CREATIVE AWARD</h5></div>
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">CSS WINNER</h5></div>
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">PAW AWARD</h5></div>
            </div>
            <div class="row" style="padding-bottom: 15px;">
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">QRCODE</h5></div>
                <div class="col-md-4 centering"><img class="img-responsive" src="http://placehold.it/100x100"><h5 class="centered">ROCKET PLUGIN</h5></div>
                <div class="col-md-4 centering"></div>
            </div>
        </div>
        <div class="col-md-3">
            <p class="leader" style="width: 290px;">LIST OF OUR ACHIEVEMENT AWARDS</p>
            <p class="leader">2015</p>
            <ul class="linelist">
                <li>Lorem ipsum dolor sit amet consectetur adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, adipiscing elit.</li>
                <li>Lorem ipsum dolor adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
            </ul>
            <p class="leader">2014</p>
            <ul class="linelist">
                <li>Lorem ipsum dolor adipiscing elit.</li>
                <li>Lorem ipsum dolor sit amet, adipiscing elit.</li>               
                <li>Lorem ipsum dolor sit amet</li>
            </ul>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <h2>GET IN TOUCH <br /> WITH US</h2>
            <div class="cover-caption">
                <hr class="horizontal-line-half" />
                <div class="address-box">
                    <h5>HEADQUARTER</h5>
                    <address>
                        7234 Westminster St. <br />
                        Spring Valley, NY 10977<br />
                        webdesing@template.com
                    </address>
                </div>
                <div class="address-box">
                    <h5>SERVICE OFFICE</h5>
                    <address>
                        7234 Westminster St. <br />
                        Spring Valley, NY 10977<br />
                        serviceoffice@template.com
                    </address>
                </div>              
            </div>           
        </div>
        <div class="col-md-8">
            <img class="img-responsive" src="http://placehold.it/1116x544">
        </div>
    </div>
</div>