body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: Montserrat, sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-default {
    background-color: white !important;
    border-color: white !important;
}

li a.navbar-default{
    color: black !important;
}

.page-cover {
    position: relative !important;
}

.page-cover > .cover-text {
    position: absolute !important;
    bottom: 35%;
    left: -5%;
}

.cover-text > h1 {    
    font-family: Montserrat, sans-serif;
    font-size: 66px;
    font-weight: bold;
}

/*@media (max-width: 640px) {
    .cover-text > h1 {font-size: 15px !important;}
}*/

.horizontal-line {
    border-top-color: black !important;
    width: 25%;
    position: absolute;
    margin-bottom: 0 !important;
}

.horizontal-line-half {
    border-top-color: black !important;
    width: 15%;
    position: absolute;
    margin-bottom: 0 !important;
}
.cover-caption {
    position: relative;
}

.cover-caption > p {
    position: relative;
    left: 30%;
    top: 10%;
}

.cover-caption > .address-box {
    position: relative;
    left: 20%;
    top: 5% !important;
    margin-bottom: 50px;
}

.address-box > h5 {
    font-weight: bold;
}

.address-box > address {
    color: grey;
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
}

q{
    font-style: italic;
}

ul.square-list {
    list-style-type:square;
}

.vrLine {
    border-left: 1px solid black;
}

h2 {
    font-family: Montserrat, sans-serif;
    color: black;
    font-weight: bold;
    font-size:36px;
}

.middle-text {
    position: relative;
    right: 45%;
    margin-bottom: 50px;
}

.hrunderline {
    border-top-color: black;
    width: 100px;
}

.img-description {
    position: relative;
}

.centering {
    position: relative;
}

.centering > .centered {
    font-family: Montserrat, sans-serif !important;
    position: relative;
}

.leader {
    font-weight: bold;
}

.linelist {
    list-style-type: none;
    text-align:justify;
    display:table;
    position:relative;
    left:-10%;
}

.linelist > li:before {
    content: "-  ";
    display: table-cell;
}

.linelist > li {
    display:table-row;
    color: gray;
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
    font-size: 14px;
    width: 300px;
}

.center_div {
    margin-bottom: 15%;
}

.center_div > .cover-caption {
    text-align: justify;
    margin-bottom: 10%;
}

.center_div > .cover-caption > p{
    top: 15% !important;
    left: 35%;
    color: grey;
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
    width: 30vw;
}

.center_div > .cover-caption > .horizontal-line-half {
    left: 15% !important;
}

.center_div > a {
    color: black;
    font-weight: bold;
}

.img-container {
    position: relative;
}

.img-sign {
    width: 400px;
    position: relative;
    top: -15%;
    left: 10%;
}

.img-sign > h1 {
    font-family: Montserrat, sans-serif;
    font-size: 50px;
    font-weight: bold;
}

.img-sign > .horizontal-line-half {
    width: 10%;
}

.img-sign > p {
    position:relative;
    top:5%;
    left: 15%;
    color: grey;
    font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande, Lucida Sans Unicode, Geneva, Verdana, sans-serif;
    width:25vw;
}

footer {
    position: fixed;
    bottom:0;
    text-align: center;
    background-color: rgba(255,255,255,0.5);
    width:100%;
    height: 40px;
}

footer > p {
    position: relative;
    top: 25%;
}

.caption {
    margin-left: -15px;
    margin-right: -15px;
}

.caption > h5 {
    font-family: Montserrat, sans-serif !important;
}

.thumbnail {
    border: none;
    text-align: center;
}

.padbot {
    padding-bottom: 15px;
}

#shorter {
    height: 75px;
}

#longer {
    height:140px;
}

#leader_p {
    width: 290px;
}

.padheight {
    padding-top: 5%;
    padding-bottom: 5%;
    height:100%;
}

.element-relative {
    position: relative;
}

.element-marginbot {
    margin-bottom: 50px;
}

#clients_image {
    left: 10%;
}

/* MEDIA */
@media (min-width: 770px) and (max-width: 991px){
    h2{
        font-size: 28px;
    }

    .cover-text > h1 {
        font-size: 36px;
    }

    .page-cover >.cover-text{
        left: -4%;
        bottom: 20%;
    }

    .img-sign > h1 {
        font-size: 36px;
    }

    #shorter {
        height:100px;
    }

    #longer {
        height: 220px;
    }

    #clients_image{
        left: 35%;
    }  
}
@media (min-width: 540px) and (max-width: 770px){
    h2{
        font-size: 20px;
    }

    .cover-text > h1 {
        font-size: 36px;
    }

    .page-cover >.cover-text{
        left: 0%;
    }

    .smallscreenall {
        width:100%;
    }

    .img-sign > h1 {
        font-size: 28px;
    }

    #shorter {
        height:100px;
    }

    #longer {
        height: 200px;
    }   

    #leader_p {
        width:150px;
    }

    #clients_image{
        left: 34%;
    } 
}
@media (min-width: 350px) and (max-width: 540px){
    h2{
        font-size: 16px;
    }

    p {
        font-size: 13px;
    }

    .cover-text > h1 {
        font-size: 30px;
    }

    .page-cover >.cover-text{
        left: 0%;
        bottom:20%;
    }

    .img-sign > h1 {
        font-size: 24px;
    }

    .img-sign > p {
        left: 11%;
        width: 25vw;
    }
    .caption > h5 {
        position: relative;
    }

    .smallscreenall {
        width:100%;
    }

    #shorter {
        height:100px;
    }

    #longer {
        height: 200px;
    }

    #leader_p {
        width:150px;
    }

    #clients_image{
        left: 27%;
    } 
}
@media (min-width: 320px) and (max-width: 350px) {
    h2{
        font-size: 16px;
    }

    .cover-text > h1 {
        font-size: 30px;
    }

    .page-cover >.cover-text{
        left: 0%;
        bottom: 0%;
    }

    .img-sign > h1 {
        font-size: 24px;
    }

    .img-sign > p {
        left: 11%;
        width: 25vw;
    }
    .caption > h5 {
        position: relative;
    }

    .smallscreenall {
        width:100%;
    }

    #shorter {
        height:450px;
    }

    #longer {
        height: 500px;
    }

    #leader_p {
        width:150px;
    }

    #teamplayer-images {
        display:none;
    }

    #clients_image{
        left: 20%;
    } 
}
